{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

{deps, [
     {lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.1"}} 
]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{plugins, [rebar_covertool]}.
{cover_export_enabled, true}.

{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
