{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

{port_specs, [
    {"priv/erl_rets_nif.so", ["c_src/*.cpp"]}
]}.

{port_env, [
    % {".*", "CXXFLAGS", "$CXXFLAGS -I /usr/local/include -g -Wall -Werror"},
    {".*", "DRV_CFLAGS", "$DRV_CFLAGS -I /usr/local/include/ -Werror"},
    {".*", "DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/lib/ -lstdc++ -lboost_program_options -lboost_system -lboost_filesystem -lcurl -lexpat -lrets /usr/local/lib/librets.a"}
    %{"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
    %    "LDFLAGS", "$LDFLAGS -lstdc++ -lboost_program_options -lboost_system -lboost_filesystem -lcurl -lexpat -lrets"}
]}.

{deps, [
     {lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.1"}} 
]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{plugins, [rebar_covertool]}.
{cover_export_enabled, true}.

{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
