{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

{port_specs, [
    {"priv/erl_rets_nif.so", ["c_src/*.cpp"]}
]}.

{port_env, [
    {".*", "DRV_CFLAGS", "$DRV_CFLAGS -I /usr/local/include/ -std=c++0x -Werror"},
    {".*", "DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/lib/ -lstdc++ -lboost_program_options -lboost_system -lboost_filesystem -lcurl -lexpat -lrets /usr/local/lib/librets.a"}
]}.

{deps, [
     {lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.1"}}
]}.

{post_hooks, [{compile, "rm -rf c_src/*.o"}]}.
